/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav, section{
    margin-bottom: 100px;
}

.carousel-item button,.card button,.subscribe button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.carousel-item .row,.subscribe{
    background: #FEEAE9;
}
.carousel-item .price{
    color: #FF136F;
}
.card{
    border: 0;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.catagories{
    border-radius: 10px;
}
.backpack-card{
    height: 40em;
    justify-content: space-between;
}
.backpack-button{
    margin: 15px;
}